---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Smagsglimt from "../components/Smagsglimt.astro";
import Link from "../components/Link.astro";
import Form from "../components/Form.astro";
import Accordion from "../components/Accordion.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import left from "../assets/images/left.png";
import right from "../assets/images/right.png";
import hero from "../assets/images/hero.png";
import Line from "../components/Line.astro";
---

<MainLayout title="Titel">
	<section class="mouse_move grid md:grid-cols-2 justify-between pt-4xl border-b-small border-colors-blue-400">
		<section class="text-center grid items-center">
			<div class="grid">
				<h1 class="pb-0">MaltClub</h1>
				<h3 class="lowercase pb-lg"><span class="uppercase">D</span>in månedlige dosis af <br /> kvalitetsøl</h3>
				<Button variant="primary" size="large">Køb abonnement</Button>
			</div>
		</section>
		<section class="mouse_move relative w-full h-screen grid grid-cols-2 overflow-x-hidden bg-no-repeat bg-contain bg-center" style="background-image: url('/hero_forside.png');">
			<Image src={left} alt="malt og humle" class="mouse absolute md:col-start-1 left-[10%] translate-y-[-50%]" value="5" />
			<Image src={right} alt="malt og humle" class="mouse absolute md:col-start-2 right-[10%] translate-y-[-50%]" value="-5" />
		</section>
	</section>

	<!-- Abonnement sektion -->
	<section class="text-center">
		<h2 class="text-center">Abonnementer</h2>
		<article class="md:grid grid-cols-4 mx-auto px-xxs">
			<Card cardimage="/beer_presentation_podium.png" navn="Maltclub XL" antal="9-11" pris="465" />
			<Card cardimage="/beer_presentation_podium.png" navn="Maltclub" antal="5-6" pris="275" />
			<Card cardimage="/beer_presentation_podium.png" navn="Maltclub uden IPA" antal="5-6" pris="275" />
			<Card cardimage="/beer_presentation_podium.png" navn="Gaveabonnement" antal="5-6" pris="275" />
		</article>
		<Button variant="primary" size="small">Gå til abonnementoversigt</Button>
	</section>

	<!-- Tidligere kasser -->
	<section class="text-center px-s">
		<h2>Smagsglimt fra tidligere kasser</h2>

		<article class="md:grid md:grid-cols-5">
			<Smagsglimt cardimage="/daase_placeholder.png" navn="MIKELLER XMAS CLASSIC" type=" VIENNA LAGER" bryggeri=" Mikeller" land=" Danmark" alkoholprocent=" 5,6%" beskrivelse="Xmas Classic er Mikkellers hyldest til den mest almindelige øltype i Danmark - Vienna Lager. En skøn let humlet pilsner som er let drikkelig." />
			<Smagsglimt cardimage="/daase_placeholder.png" navn="ELECTRICITY SUPPLY BOARD" type=" BITTER ENGLISH ALE" bryggeri=" The white hag & Cloudwater" land=" Irland & England" alkoholprocent=" 6%" beskrivelse="Skønt samarbejde mellem irske The White Hag og engelske Cloudwater. En bitter english ale brygget i klassisk engelsk stil. Øllen har en brændt rød farve med et klar og cremet hvid skum. Smagen bærer noter af karamel og malt." />
			<Smagsglimt cardimage="/daase_placeholder.png" navn="APOCALYPTIC THUNDER JUICE" type=" NEW ENGLAND IPA" bryggeri=" AMUNDSEN" land=" Norge" alkoholprocent=" 6,5%" beskrivelse="Tropisk sød frugtagtig smag med toner af ananas, appelsin, mango og melon med en bitter finish. Amundsen har brygget øllen med tanke på at i tilfælde af en apokalypse, ville dette være dit valg som en sidste øl - deraf den bizare etiket og ikke mindst navn på denne øl." />
			<Smagsglimt cardimage="/daase_placeholder.png" navn="MAD SCIENTIST WOLF GANG" type=" LAGER - IPL" bryggeri=" Mad Scientist" land=" Ungarn" alkoholprocent=" 6%" beskrivelse="Moderne lager fra det populære og ud-af-boksen tænkende ungarske bryghus Mad Scientist. Wolf Gang har en høj intensitet på humle samt en frisk orange-rød kulør. Ret anderledes og nytænkede lager sammenlignet med de traditionelle." />
			<Smagsglimt cardimage="/daase_placeholder.png" navn="SIERRA NEVADA HOP BULLET" type=" DOUBLE IPA" bryggeri="Sierra Nevada" land=" USA" alkoholprocent=" 8%" beskrivelse="For første gang skal vi stifte bekendtskab med en Double IPA på 8%. På trods af sin relative høje alkoholprocent er Hop Bullet en ganske let drikkelig øl. Humle smagen og bitterheden fornemmes tydeligt i øllen." />
		</article>
	</section>

	<!-- FAQ -->
	<section>
		<h2 class="text-center">Ofte stillede spørgsmål</h2>
		<article class="px-s grid gap-s md:grid-cols-2 md:gap-x-3xl">
			<Accordion titel="Hvordan bestiller jeg et maltclub abonnement?" indhold="Du bestiller et MaltClub abonnement lige her" />
			<Accordion titel="Hvor lang tid binder jeg mig?" indhold="Vi har ingenbinding hos MaltClub, og du kan til enhver tid opsige dit abonnement. Vær dog opmærksom på at dit abonnement skal opsiges senest den 20. i måneden for at være gældende fra den efterfølgende måned." />
			<Accordion titel="Hvor meget koster et MaltClub abonnement?" indhold="Et MaltClub abonnement med levering hver måned koster fra 275 kr. pr. md. inkl. fragt. Du kan få 20% i rabat på den første måned ved tilmelding til vores nyhedsbrev." />
			<Accordion titel="Hvordan kan jeg betale på MaltClub?" indhold="På MaltClub.dk kan du betale med Dankort, Visakort og Masterkort, når du opretter et abonnement. Betaling med debet-eller kreditkort er gebyrfrit (dog kan der forekomme gebyr på betaling med firmakort)." />
			<Accordion titel="Hvornår hæver i pengene på min konto?" indhold="Når du køber et MaltClub abonnement hæver vi pengene den dag du foretager dit køb. Der vil derfor ikke blive trukket penge den førstkommende måned, men først den efterfølgende måned. Eksempel: Du køber et abonnement d. 5. september og pengene trækkes samme dag. Du modtager din MaltClub kasse den første uge i oktober. Næste betaling er d. 1. november." />
			<Accordion titel="Hvordan ændrer jeg mit betalingskort" indhold="Du får helt automatisk en mail fra vores abonnementsystem, når dit kort er ved at udløbe. Så kan du sagtens nå at skifte kortet inden vi skal trække pengene for abonnementet." />
			<Accordion titel="Hvordan opsiger jeg mit abonnement?" indhold="Ønsker du at opsige dit abonnement bedes du kontakte os på info.maltclub@gmail.com eller via vores kontaktformular her. Du modtager herefter en skriftlig bekræftelse på din opsigelse." />
			<Accordion titel="Hvordan ændrer jeg leveringsadresse?" indhold="Hvis du ønsker at ændre leveringsadresse bedes du kontakte os på info.maltclub@gmail.com eller via vores kontaktformular her. Du modtager herefter en skriftlig bekræftelse på din ændring. " />
			<Accordion titel="Hvad er der i min kommende ølpakke?" indhold="Det må du vente i spænding på at finde ud af. Ølpakkerne varierer fra måned til måned og er dermed aldrig ens. Vi bestræber os derudover på at pakkerne ikke indeholder øl, som tidligere har været med i pakkerne. Du finder med stor sandsynlighed heller ikke nogle af øllene i dit lokale supermarked " />
			<Accordion titel="Kan jeg selv vælge hvilke øl der er i min ølpakke?" indhold="Nej det kan du ikke. Vi udvælger alle øl i dit MaltClub abonnement fra måned til måned for dig." />
		</article>
	</section>
</MainLayout>

<script type="text/javascript">
document.addEventListener("mousemove", parallax);
function parallax(event) {
	this.querySelectorAll(".mouse").forEach((shift) => {
		const position = shift.getAttribute("value");
		const x = (window.innerWidth - event.pageX * position) / 90;
		const y = (window.innerHeight - event.pageY * position) / 90;
		shift.style.transform = `translateX(${x}px) translateY(${y}px)`;
	});
}
</script>
