---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import hero from "../assets/images/listview_hero.png"
import Line from "../components/Line.astro";
---
<MainLayout>
    <section class="border-t-small border-colors-blue-400">
        <article class="grid justify-center py-2xl gap-s">
            <h2 class="">Vælg dit ølabonnement</h2>
            <p class="">Hos MaltClub har vi sørget for, at tilgodese alle ølelskere. Derfor har vi fire forskellige ølabonnementer at vælge mellem, så der er noget for enhver smag. <br>Vi sætter en ære i at håndplukke alle øl, så de passer til årstiden eller højtiden. Og vi sammensætter ølkasserne med respekt for øl-håndværket og den gode historie bag hver enkelt øl. <br>Gå på odagelse i vores abonnementer, og find det MaltClub abonnement der passer bedst til dig og din indre ølentusiast!</p>
        </article>
        <div class="md:grid md:grid-cols-4">
            <Card bestseller="true" cardimage="/beer_presentation_maisel2.png" cardimagehover="/MaltClubXL_beers.png" navn="Maltclub XL" antal="9-11" pris="465"/>
            <Card cardimage="/beer_presentation_enommer2.png" cardimagehover="/MaltClub_beers.png" navn="Maltclub" antal="5-6" pris="275"/>
            <Card cardimage="/beer_presentation_ebeltoft2.png" cardimagehover="/MaltClub_beers.png" navn="Maltclub uden IPA" antal="5-6" pris="275"/>
            <Card cardimage="/beer_presentation_rochefort2.png" cardimagehover="/MaltClub_beers.png" navn="Gaveabonnement" antal="5-6" pris="275"/>
        </div>
    </section>
</MainLayout>