---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
---
<MainLayout title="Abonnementer" description="Hos MaltClub sætter vi en ære i at håndplukke alle øl, og vi sammensætter ølkasserne med respekt for håndværket og den gode historie bag hver enkelt øl. Gå på opdagelse og find det MaltClub øl-abonnement, der passer bedst til dig." ogtitle="Håndplukkede ølkasser med respekt for håndværket." ogdescription="Gå på opdagelse og find det MaltClub øl-abonnement, der passer bedst til dig.">
    <section class="border-t-small border-colors-blue-400">
        <article class="grid justify-center px-s md:px-0 py-2xl gap-s">
            <h2 class="">Vælg dit ølabonnement</h2>
            <p class="">Hos MaltClub har vi sørget for, at tilgodese alle ølelskere. Derfor har vi fire forskellige ølabonnementer at vælge mellem, så der er noget for enhver smag. <br>Vi sætter en ære i at håndplukke alle øl, så de passer til årstiden eller højtiden. Og vi sammensætter ølkasserne med respekt for øl-håndværket og den gode historie bag hver enkelt øl. <br>Gå på odagelse i vores abonnementer, og find det MaltClub abonnement der passer bedst til dig og din indre ølentusiast!</p>
        </article>
        <div class="md:grid md:grid-cols-4 md:border-r-small border-colors-blue-400">
            <Card bestseller="true" cardimage="/beer_presentation_maisel2.png" cardimagehover="/MaltClubXL_beers.png" navn="Maltclub XL" antal="9-11" pris="465"/>
            <Card cardimage="/beer_presentation_enommer2.png" cardimagehover="/MaltClub_beers.png" navn="Maltclub" antal="5-6" pris="275"/>
            <Card cardimage="/beer_presentation_ebeltoft2.png" cardimagehover="/MaltClub_beers.png" navn="Maltclub uden IPA" antal="5-6" pris="275"/>
            <Card cardimage="/beer_presentation_rochefort2.png" cardimagehover="/MaltClub_beers.png" navn="Gaveabonnement" antal="5-6" pris="275"/>
        </div>
    </section>
</MainLayout>