---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import samuel from "../assets/images/samuel.jpg";
import Accordion from "../components/Accordion.astro";
import Form from "../components/Form.astro";
import Line from "../components/Line.astro";
import Newsletter from "../components/Newsletter.astro";
---

<MainLayout>
     <section class="grid md:grid-cols-2 border-t-small border-b-small border-colors-blue-400">
        <article class="grid justify-center md:border-r-small border-colors-blue-400 px-sm md:px-3xl py-ml gap-sm">
            <h2 class="self-end">Om os</h2>
            <p>Hos MaltClub er vi på en mission. Vi vil udbrede kendskabet til god øl fra bryghuse med noget på hjertet. Vi elsker at fortælle den gode historie om både øl og bryghuse fra ind- og udland og er overbeviste om, at dette kan være med til at pirre dine smagsløg. Øl med en god historie smager bedre. Vi sammensætter hver måned en kasse med forskellige typer øl og håber på den måde at kunne medvirke til at udvide din horisont omkring øl. Hver øl akkompagneres med en inspirerende beskrivelse af bryghuset og historien bag den udvalgte øl. Vi glæder os til at levere din næste MaltClub ølpakke!</p>
        </article>
        <article class="md:border-r-small border-colors-blue-400 flex justify-center">
            <Image src={samuel} alt="MaltClub XL ølpakken" class="w-full object-cover" format="webp" loading="lazy"/>
        </article>
    </section>
    <section id="nyhedsbrevsektion">
        <Newsletter/>
    </section>
    <section class="px-sm md:px-6xl py-ml md:py-3xl" id="faq">
        <h2 class="text-start py-s">Ofte stillede spørgsmål</h2>
		<article class="grid gap-s md:grid-cols-2 md:gap-x-3xl pb-ml">
			<Accordion titel="Hvordan bestiller jeg et maltclub abonnement?" indhold="Du bestiller et MaltClub abonnement lige her" />
			<Accordion titel="Hvor lang tid binder jeg mig?" indhold="Vi har ingenbinding hos MaltClub, og du kan til enhver tid opsige dit abonnement. Vær dog opmærksom på at dit abonnement skal opsiges senest den 20. i måneden for at være gældende fra den efterfølgende måned." />
			<Accordion titel="Hvor meget koster et MaltClub abonnement?" indhold="Et MaltClub abonnement med levering hver måned koster fra 275 kr. pr. md. inkl. fragt. Du kan få 20% i rabat på den første måned ved tilmelding til vores nyhedsbrev." />
			<Accordion titel="Hvordan kan jeg betale på MaltClub?" indhold="På MaltClub.dk kan du betale med Dankort, Visakort og Masterkort, når du opretter et abonnement. Betaling med debet-eller kreditkort er gebyrfrit (dog kan der forekomme gebyr på betaling med firmakort)." />
			<Accordion titel="Hvornår hæver i pengene på min konto?" indhold="Når du køber et MaltClub abonnement hæver vi pengene den dag du foretager dit køb. Der vil derfor ikke blive trukket penge den førstkommende måned, men først den efterfølgende måned. Eksempel: Du køber et abonnement d. 5. september og pengene trækkes samme dag. Du modtager din MaltClub kasse den første uge i oktober. Næste betaling er d. 1. november." />
			<Accordion titel="Hvordan ændrer jeg mit betalingskort" indhold="Du får helt automatisk en mail fra vores abonnementsystem, når dit kort er ved at udløbe. Så kan du sagtens nå at skifte kortet inden vi skal trække pengene for abonnementet." />
			<Accordion titel="Hvordan opsiger jeg mit abonnement?" indhold="Ønsker du at opsige dit abonnement bedes du kontakte os på info.maltclub@gmail.com eller via vores kontaktformular her. Du modtager herefter en skriftlig bekræftelse på din opsigelse." />
			<Accordion titel="Hvordan ændrer jeg leveringsadresse?" indhold="Hvis du ønsker at ændre leveringsadresse bedes du kontakte os på info.maltclub@gmail.com eller via vores kontaktformular her. Du modtager herefter en skriftlig bekræftelse på din ændring. " />
			<Accordion titel="Hvad er der i min kommende ølpakke?" indhold="Det må du vente i spænding på at finde ud af. Ølpakkerne varierer fra måned til måned og er dermed aldrig ens. Vi bestræber os derudover på at pakkerne ikke indeholder øl, som tidligere har været med i pakkerne. Du finder med stor sandsynlighed heller ikke nogle af øllene i dit lokale supermarked " />
			<Accordion titel="Kan jeg selv vælge hvilke øl der er i min ølpakke?" indhold="Nej det kan du ikke. Vi udvælger alle øl i dit MaltClub abonnement fra måned til måned for dig." />
		</article>
    </section>
    <section class="bg-colors-green-500 px-sm md:px-6xl py-ml md:py-3xl kontaktform">
        <h2 class="text-colors-blue-500 text-start py-s">Kontakt MaltClub</h2>
        <p class="text-colors-blue-500">Udfyld kontaktformularen nedenfor, så vender vi hurtigst muligt tilbage.</p>
        <p class="text-colors-blue-500">Du skal også være meget velkommen til at ringe, hvis du har spørgsmål. <br>Fang os på +45 2576 6299</p>
        <form class="pt-sm pb-sm" data-netlify="true">
            <article class="grid gap-xs">
                <div class="grid md:grid-cols-2 gap-xs">
                    <Form titel="Navn" name="navn kontakt form"/>
                    <Form titel="E-mail" name="email kontakt form"/>
                </div>
                <Form titel="Telefonnummer" name="telefon kontakt form"/>
                <textarea name="besked" id="besked" placeholder="Besked" class="border-colors-blue-500 bg-transparent text-colors-blue-500 placeholder-colors-blue-500 w-full h-4xl md:h-6xl"></textarea>
                <div class="flex justify-end">
                    <Button variant="tertiary" size="small" >send</Button>
                </div>
            </article>
        </form>
    </section>
    <Line/>
</MainLayout>

<script>
    import { inView } from "motion";

	const nyhedsbrevsektion = document.querySelector("#nyhedsbrevsektion");

	inView(nyhedsbrevsektion, () => {
		nyhedsbrevsektion.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.5s");
	});

	const faq = document.querySelector("#faq");

	inView(faq, () => {
		faq.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.5s");
	});

	const kontaktform = document.querySelector(".kontaktform");

	inView(kontaktform, () => {
		kontaktform.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.5s");
	});
</script>