---
const { titel = "", indhold = "" } = Astro.props;
---

<!-- Klassen group gør det muligt at style child-elementerne baseret på, om details er åbent eller lukket -->
<details class="group w-full md:max-w-3xl border-b-small border-b-colors-green-50">
	<summary class="flex justify-between items-center cursor-pointer">
		<p>{titel}<p>
		<svg class="" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
			<line x1="7.26562" x2="7.26562" y2="15" stroke="#F7F8F6" class="transform transition-transform group-open:rotate-90"></line>
			<line y1="7.5" x2="15" y2="7.5" stroke="#F7F8F6"></line>
		</svg>
	</summary>
	<div class="pt-xs">
		<p>{indhold}</p>
	</div>
</details>
