---
const { variant = "", size = "" } = Astro.props;

const buttonStyling = "uppercase font-semibold";

const variantClasses = {
	primary: "bg-colors-yellow-500 border-small hover:bg-colors-blue-500 hover:text-colors-yellow-500 hover:border-colors-yellow-500",
	secondary: "bg-colors-transparent border-small border-colors-yellow-500 text-colors-yellow-500 hover:bg-colors-yellow-500 hover:text-colors-blue-500",
	tertiary: "bg-colors-transparent border-small border-color-blue-500 text-colors-blue-500 hover:bg-colors-blue-500 hover:text-colors-green-500",
	long: "bg-colors-yellow-500 border-small border-colors-yellow-500 hover:bg-transparent hover:text-colors-blue-500 hover:border-colors-yellow-500",
};

const sizeClasses = {
	small: "py-xxs px-ml text-header5mobile md:text-header5",
	large: "py-xs px-ml text-header3mobile md:text-header3",
	long: "py-xs px-4xl md:px-ml text-header5mobile md:text-header5",
};
---

<div>
	<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
</div>
