---
import { Image } from "astro:assets";
import logo from "../assets/images/logo (2).svg";
---

<footer class="bg-colors-blue-600">
	<section class="flex flex-col gap-ml md:flex-row md:justify-between">
		<article>
			<h5>© 2024, MaltClub</h5>
			<p>Din månedlige leverandør af kvalitetsøl</p>
			<p>CVR: 42460389</p>
			<p>Egevej 16, 6051 Almind, <br />Danmark</p>
		</article>
		<article>
			<h5>Kontakt</h5>
			<a href="#"><p>Om os</p></a>
			<p>Telefon: 25766299</p>
			<p>Mail: <br />info.maltclub@gmail.com</p>
		</article>
		<article>
			<h5>Følg os</h5>
			<a href="https://www.instagram.com/maltclub.dk/"><p>Instagram</p></a>
			<a href="https://www.facebook.com/MaltClub.dk"><p>Facebook</p></a>
		</article>
		<article>
			<h5>Betingelser</h5>
			<p>Handelsbetingelser</p>
			<p>Cookie- og privatlivspolitik</p>
			<p>Persondatapolitik</p>
			<p>Servicevilkår</p>
		</article>
	</section>
	<section>
		<Image src={logo} alt="logo" class="w-full" />
	</section>
</footer>
